.bg {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(105, 105, 108, 1) 36%, rgba(0, 142, 255, 1) 100%);
    text-align: center;
}

.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.btn {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    width: 400px;
}

.head {
    /* display:flex;
      justify-content: center;
      align-items: center;
     font-family: 'Stylish',sans-serif;
     font-size: 6.25rem;
     color: black;
     width: auto; */
    font-family: 'Stylish',
        sans-serif;
    font-size: 6rem;
    line-height: 1.5;
}

.output {
    font-family: 'Josefin Sans', sans-serif;
    color: #77ACF1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

input {

    /* width:100%; */
    /* margin-left: 30px;
    padding-left: 10px; */
    /* line-height: 1.5;
    width:30rem;
    margin-left: 50px;
    height:3.125rem; */
    box-sizing: border-box;
    border: none;
    color:black;
    border: #83bbd9 1px solid;
    width: 75%;
    font: normal 12px/26px Arial,
        Helvetica,
        sans-serif;

}

/* .box{
    size: 50px;
} */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'ubuntu';
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
    font-family: 'ubuntu';
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'ubuntu';
}

.centi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}